<div class="w-50 mx-auto">
    <h1 class="text-center text-primary">LOGIN</h1>

    <% if(msg?.length) { %>
        <div class="alert alert-danger"><%= msg %></div>
    <% } %>

    <% if(success?.length) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>

    <form action="" method="post">
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="email" name="email" class="form-control" value="<%= oldEmail %>" required>
            <span class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="message-text" class="col-form-label">Mat khau:</label>
            <input type="password" name="password" class="form-control" required>
            <span class="text-danger"></span>
        </div>
        <a href="#" class="text-body-tertiary">Quen mat khau?</a>
        <button class="btn btn-primary w-100 mt-3">Login</button>
    </form>

    <p class="text-body-tertiary text-center mt-3">Dont have an account? <a href="/auth/register" class="text-primary text-decoration-none">Sign up</a></p>
</div>