<div class="w-50 mx-auto">
    <h1 class="text-center text-primary">REGISTER</h1>

    <% if(msg?.length) { %>
        <div class="alert alert-danger"><%= msg %></div>
    <% } %>

    <form action="" method="post">
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" name="name" class="form-control" required>
            <span class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="email" name="email" class="form-control" required>
            <span class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="message-text" class="col-form-label">Mat khau:</label>
            <input type="password" name="password" class="form-control" required>
            <span class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="message-text" class="col-form-label">Nhap lai mat khau:</label>
            <input type="password" name="repeat" class="form-control" required>
            <span class="text-danger"></span>
        </div>
        <div class="action-block">
            <button class="btn btn-primary w-100 mt-3">Dang ky</button>
            <a href="/auth/login" class="btn btn-danger w-100 mt-3">Dang nhap</a>
        </div>
    </form>
</div>