body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.login {
  padding: 12px 28px;
  background-color: blue;
  color: #fff;
  text-decoration: none;
}

.login:hover {
  opacity: 0.7;
}
