<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css">

    <!-- Link Css -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- Link Javascript -->
    <script src="/assets/js/home.js"></script>

    <!-- Link Icon -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!-- Link Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/index.html">
                <img src="images/logo.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about.html">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="gallery.html">Gallery</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="services.html">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link-icon" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <section class="footer-section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <h3 class="useful_text">About</h3>
                        <p class="footer-text wd-9">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation u</p>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h3 class="useful_text">Menu</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>            
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h3 class="useful_text">Useful Link</h3>
                        <p class="dummy_text">Adipiscing Elit, sed do Eiusmod Tempor incididunt</p>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h3 class="useful_text">Contact Us</h3>
                        <div class="location_text">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span class="padding_left_10">Address : Loram Ipusm</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span class="padding_left_10">Call : +01 1234567890</span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span class="padding_left_10">Email : demo@gmail.com</span>
                                    </a>
                                 </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <p class="text-center copyright-text">2020 All Rights Reserved. Design by Free html Templates</p>
    </footer>
</body>
</html>