<h1 class="text-center my-5">Đăng nhập tài khoản - Project B</h1>
<div class="d-grid w-50 mx-auto">
  <a
    class="btn btn-primary py-4"
    href="http://localhost:3000/auth/oauth?client_id=<%= oauthInfo.client_id %>&callback=<%= oauthInfo.callback %>&scopes=<%= scopeStr %>"
    ;
    >Đăng nhập với Lab41</a
  >
</div>
