<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Check</title>
    <!-- <link rel="stylesheet" type="text/css" href="/public/assets/style.css"> -->
</head>

<body>
    <form action="" method="post">
        <div>
            <input type="text" name="phone" placeholder="Phone Number..." value="{old.phone}">
            <button type="submit">SUBMIT</button>
        </div>
        <span class="error">{error.name}</span>
    </form>
</body>

</html>