<h1 class="text-center text-primary" style="font-weight: 600">Trang chủ</h1>
<h2 class="text-center my-3">--- Thông tin người dùng ---</h2>
<h3>Tên: <b style="color: red"><%= user.name %></b></h3>
<h3>Email: <b style="color: red"><%= user.email %></b></h3>
