<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{name}</h1>
    <p>{description}</p>
    <p>{description}</p>
    <p>{description}</p>
    <p>{description}</p>
    <p>{description}</p>
    <p>{description}</p>

    <h2>Address</h2>
    <ul>
        <li>{address[0]}</li>
        <li>{address[1]}</li>
        <li>{address[2]}</li>
    </ul>

    <h2>Contact</h2>
    <ul>
      <li>{contact.office}</li>
      <li>{contact.phone}</li>
      <li>{contact.email}</li>
    </ul>

    <h2>Profiles</h2>
    <ul>
        <li><a href="https://facebook.com/">{profiles[0]}</a></li>
        <li><a href="https://twitter.com/">{profiles[1]}</a></li>
        <li><a href="https://instagram.com/">{profiles[2]}</a></li>
        <li><a href="https://linkedin.com/">{profiles[3]}</a></li>
        <li><a href="https://stackoverflow.com/">{profiles[4]}</a></li>
        <li><a href="https://github.com/">{profiles[5]}</a></li>
    </ul>
  </body>
  </script>
</html>
