<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do App</title>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="assets/style.css" />
  </head>
  <body>
    <main id="root">{content}</main>
    <script>
      const $ = (tag) => document.querySelector(tag);
      const $$ = (tag) => document.querySelectorAll(tag);
    </script>
    <script src="assets/js/helper.js"></script>
    <script src="assets/script.js"></script>
  </body>
</html>