<!DOCTYPE html>
<html>
  <head>
    <title>Trang chu</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Trang chu</h1>
    <form action="" method="post">
      <button style="padding: 12px 28px">Dang nhap</button>
    </form>
  </body>
</html>
