<h1 class="text-center text-primary my-3">
    Đăng nhập tài khoản
</h1>

<div class="d-grid mt-5 w-50 mx-auto">
    <a href="/auth/facebook/redirect" class="btn btn-primary"><i class="fa-brands fa-facebook me-3"></i>Login with Facebook</a>
</div>
<div class="d-grid mt-3 w-50 mx-auto">
    <a href="/auth/github/redirect" class="btn btn-dark"><i class="fa-brands fa-github me-3"></i>Login with Github</a>
</div>