<h2>Phân quyền</h2>

<% if(msg?.length) {%>
  <div class="alert alert-success"><%= msg %></div>
<% } %>

<form action="" method="post">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="10%"><input type="checkbox"></th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <form action="" method="post">
        <% roles.forEach(({id, name}) => { %>
          <tr>
            <td>
              <input type="checkbox" name="roles" value="<%= id %>" <%= isRole(user.Roles, id)? 'checked' : '' %>>
            </td>
            <td>
              <%= name %>
            </td>
          </tr>
        <% }) %>

        <button type="submit" class="btn btn-primary my-3">Luu thay doi</button>
      </form>
    </tbody>
</form>
